<!DOCTYPE html>
<html>
<head>
  <title>showav</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="static/app.min.css">
</head>
<body>

<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron text-center">
            <h2>showAv</h2>
            <h6>电影总数({{avData.length}})</h6>
            <h6>当前总数({{avShow.length}})</h6>
            <input type="text" class="form-control" placeholder="search..." v-model="keyWord">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="waterfall">
                <div class="item" v-for="(avItem,index) in avShow">
                    <a class="movie-box" :href="avpath(avItem)" target="_blank">
                        <div class="photo-frame">
                            <img :src="imageFun(avItem)" v-bind:title="'标签:' + avItem.genre + '\n演员:' + avItem.stars">
                        </div>
                        <div class="photo-info">
                            <span>{{ avItem.title }}
                                <br>
                                <span style="color:red">{{ avItem.avid }}</span> /
                                <span>{{ avItem.date }}</span>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script src="av_data.js"></script>
<script>
// $.getJSON({
//     // url: "av_data.json",
//     url: "file:///E:/python_/avmoo-spider/av_data.json",
//     async: false,
//     success: function (ret) {
//         window.av_data = ret;
//     },
// });
var vm = new Vue({
    el: "#app",
    data: {
        cdn: 'https://jp.netcdn.space',
        dir: 'D:\\sku\\avtype1\\',
        keyWord: '',
        avData: window.av_data,
        avShow: function(){
            var ret = [];
            for(let avItem of window.av_data) {
                if('avlink' in avItem){
                    ret.push(avItem);
                }
            }
            return ret;
        }(),
        avSearchItem : ["avid","director","studio","label","series","genre","stars","title"],
    },
    watch: {
        // 如果 `question` 发生改变，这个函数就会运行
        keyWord: function (newWord, oldWord) {
            if('' == newWord){
                this.avShow = this.avData;
                return;
            }
            this.avShow = []; 
            keyWord = newWord.trim().toUpperCase();
            keyWordList = keyWord.split(' ');
            var re = new RegExp(keyWordList.join('|'));
            for(let avItem of this.avData) { // item代表数组里面的元素
                if(!('genre' in avItem)){
                    continue;
                }
                for (let key of this.avSearchItem) {
                    if(re.test(avItem[key])){
                        this.avShow.push(avItem);
                        break;
                    }
                };
            };
        }
    },
    methods: {
        imageFun: function(avItem){
            if('bigimage' in avItem){
                return this.cdn + '/digital/video' + avItem.bigimage.replace(/pl\.jpg/, 'ps.jpg');
            }else{
                return this.cdn + '/mono/movie/n/now_printing/now_printing.jpg';
            }
        },
        avpath: function(avItem){
            if('file:' == document.location.protocol){
                return 'file://' + this.dir + avItem.avfile;
            }else{
                return avItem.avlink
            }
        }
    },
});
</script>
<script src="static/app.min.js"></script>
</body>
</html>