{% extends "main.html" %}

{% block title %} 女优 {% endblock %}
{% block keyword %}{{keyword}}{% endblock %}
{% block container %}
<style>
    .avatar-box{
        height:290px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div style="width: 400px;margin-left: 60px;">
            <div class="input-group" style="margin-top:20px;">
                <input type="text" class="form-control" id="movie_linkid" placeholder="影片ID,例:f979b8b2a02901dd" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default" onclick='downloadMovie(document.querySelector("#movie_linkid").value)'>下载指定影片</button>
                </span>
            </div>
            <div class="input-group" style="margin-top:20px;">
                <input type="text" class="form-control" id="stars_linkid" placeholder="演员ID,例:09206c6bbe8d918f" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default" onclick='downloadStar(document.querySelector("#stars_linkid").value)'>下载指定演员</button>
                </span>
            </div>
            <button class="btn btn-default" onclick="downloadStar('all')">更新所有影片</button>
        </div>
    </div>
    <div class="row">
        <div id="avatar-waterfall" style="margin: 20px 60px;">
            {% for item in data %}
            <div class="avatar-box">
                <a class="" href="/stars/{{item.linkid}}" title="{{item.time}}">
                    <div class="photo-frame">
                        {% if item.headimg %}
                        <img src="{{cdn}}/{{item.headimg}}" title="">
                        {% else %}
                        <img src="{{cdn}}/mono/actjpgs/nowprinting.gif" title="">
                        {% endif %}
                    </div>
                </a>
                <span>{{item.name}}</span>
                <span>作品 <b style="color:red;">{{item.movie_count}}</b></span>
                <span>最新 <b style="color:red;">{{item.release_date}}</b></span>
                <span><button class="btn btn-default" onclick="downloadStar('{{item.linkid}}')">更新影片</button></span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}