{% extends "main.html" %}

{% block title %} 女优 {% endblock %}
{% block keyword %}{{keyword}}{% endblock %}
{% block container %}

{% block head %}
<style>
    .avatar-box{
        height:290px;
    }
</style>

{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <div class="input-group" style="margin-top:20px;">
                <button class="btn btn-default" onclick="crawlAccurate('allStar', '')" title="update all movie">更新所有影片</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="avatar-waterfall" style="margin: 20px 60px;">
            {% for item in data %}
            <div class="avatar-box">
                <a class="" href="/star/{{item.linkid}}" title="{{item.time}}">
                    <div class="photo-frame">
                        {% if item.headimg %}
                        <img src="{{config['website']['cdn']}}/{{item.headimg}}" title="">
                        {% else %}
                        <img src="{{config['website']['cdn']}}/mono/actjpgs/nowprinting.gif" title="">
                        {% endif %}
                    </div>
                </a>
                <span>{{item.name}}</span>
                {% if item.movie_count %}
                <span>作品 <b style="color:red;">{{item.movie_count}}</b></span>
                <span>最新 <b style="color:red;">{{item.release_date}}</b></span>
                {% endif %}
                <span><button class="btn btn-default btn-sm" onclick="crawlAccurate('star' ,'{{item.linkid}}')" title="update movie list">更新影片</button></span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}