{% extends "main.html" %}

{% block title %} 番号 {% endblock %}
{% block keyword %}{{keyword}}{% endblock %}
{% block container %}
<style>
</style>
<div class="container-fluid">
    <div class="row">
        <div id="waterfall" style="margin: 20px 60px;">
            {% for item in data.list %}
                <div class="item">
                    <a class="movie-box" href="/{{ data.page_type }}/{{ item.linkid }}">
                        <div class="photo-frame">
                            <img class="photo-sm" src="{{config['website']['cdn']}}/digital/video{{ item.smallimage }}">
                        </div>
                        <div class="photo-info">
                            <span><span style="font-size: 18px;">{{item.title}}<b style="color:red;">({{item.count}})</b></span>
                                <br>
                                <date>{{ item.av_id }}</date> /
                                <date>{{ item.release_date }}</date>
                            </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}