{% extends "main.html" %}

{% block title %}{{keyword}} 第{{page.now}}页 - {% endblock %}
{% block keyword %}{{keyword}}{% endblock %}
{% block container %}
<div class="container-fluid">
      <div class="row">
		  <div id="waterfall">
				{% for item in data %}
					<div class="item">
						<a class="movie-box" href="/movie/{{ item.0 }}">
							<div class="photo-frame">
								<img src="{{ cdn }}/digital/video{{ item.6 }}" title="标签:{{ item.4 }}\n演员:{{ item.5 }}">
							</div>
							<div class="photo-info">
								<span>{{ item.1 }}
									<br>
									<date>{{ item.2 }}</date> /
									<date>{{ item.3 }}</date>
								</span>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		  </div>
</div>
{% endblock %}