{% extends "main.html" %}

{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div id="waterfall">
                {#女优信息#}
                {% if data.av_stars and frame_data.page.now == 1 %}
                    <div class="item">
                        <div class="avatar-box">
                            <div class="photo-frame">
                                {% if data.av_stars.headimg %}
                                    <img src="{{ config['website']['cdn'] }}/{{ data.av_stars.headimg }}" title="">
                                {% else %}
                                    <img src="{{ config['website']['cdn'] }}/mono/actjpgs/nowprinting.gif" title="">
                                {% endif %}
                            </div>
                            <div class="photo-info">
                                <span class="pb-10" title="{{ data.av_stars.name }}">{{ data.av_stars.name | rename }}</span>
                                {% if data.av_stars.birthday %}<p>生日: {{ data.av_stars.birthday }}</p>{% endif %}
                                {% if data.av_stars.age %}<p>年龄: {{ data.av_stars.age }}岁</p>{% endif %}
                                {% if data.av_stars.height %}<p>身高: {{ data.av_stars.height }}</p>{% endif %}
                                {% if data.av_stars.cup %}<p>罩杯: {{ data.av_stars.cup }}</p>{% endif %}
                                {% if data.av_stars.bust %}<p>胸围: {{ data.av_stars.bust }}</p>{% endif %}
                                {% if data.av_stars.waist %}<p>腰围: {{ data.av_stars.waist }}</p>{% endif %}
                                {% if data.av_stars.hips %}<p>臀围: {{ data.av_stars.hips }}</p>{% endif %}
                                {% if data.av_stars.hometown %}<p>出生地: {{ data.av_stars.hometown }}</p>{% endif %}
                                {% if data.av_stars.hobby %}<p>爱好: {{ data.av_stars.hobby }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if data.page_type != 'index' and data.page_type != 'like' and frame_data.page.now == 1 %}
                    <div class="item">
                        <div class="avatar-box">
                            <div class="photo-info">
                                {% if data.page_type != 'star' %}
                                    <p><span>{{ page_type_map[data.page_type].name }}:</span></p>
                                    <p><span style="color:red" title="{{ frame_data.placeholder }}">{{ frame_data.placeholder | rename }}</span></p>
                                {% endif %}
                                <p>
                                    <button class="btn btn-warning"
                                            onclick="crawlAccurate('{{ data.page_type }}', '{{ data.linkid }}')"
                                            title="crawl movie list">更新影片
                                    </button>
                                </p>
                                <p><a class="btn btn-success" href="/analyse/{{ data.page_type }}/{{ data.linkid }}"
                                      title="analyse" target="_blank">分析影片</a></p>
                                {# page_type_map中定义的才展示收藏 #}
                                {% if page_type_map[data.page_type].like_enable %}
                                    <p>
                                    {% if data.is_like %}
                                        <button class="btn btn-danger" type="submit"
                                                onclick="deleteExtend('like', '{{ page_type_map[data.page_type].key }}', '{{ data.linkid }}');location.reload()"
                                                title="cancel favorites">取消收藏
                                        </button>
                                    {% else %}
                                        <button class="btn btn-success" type="submit"
                                                onclick="insertExtend('like', '{{ page_type_map[data.page_type].key }}', '{{ data.linkid }}');location.reload()"
                                                title="add favorites">收藏
                                        </button>
                                    {% endif %}
                                    </p>
                                {% endif %}
                                {% if page_type_map[data.page_type].rename_enable %}
                                    <p>
                                    <button class="btn btn-success" type="submit"
                                            onclick="$('#modal_rename').modal('show');"
                                            title="rename">改名
                                    </button>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="item" id="analyseResult">
                    </div>
                {% endif %}

                {% for item in data.av_list %}
                    <div class="item">
                        <a class="movie-box" href="/movie/{{ item.linkid }}">
                            <div class="photo-frame">
                                <img class="photo-sm" src="{{ item.bigimage | small_img }}">
                            </div>
                            <div class="photo-info">
                                {% if item.file %}
                                    <span class="glyphicon glyphicon-download-alt" style="color:#cc0000"></span>
                                {% endif %}
                                {% if item.magnet %}
                                    <span class="glyphicon glyphicon-magnet" style="color:#cc0000"></span>
                                {% endif %}
                                {% if item.http %}
                                    <span class="glyphicon glyphicon-link" style="color:#cc0000"></span>
                                {% endif %}
                                <span>{{ item.title }}
                                    <br>
                                    <date>{{ item.av_id }}</date> /
                                    <date>{{ item.release_date }}</date>
                                </span>
                            </div>
                            <div class="movie-desc">
                                {{ item.genre }}<br><br>
                                {% if item.stars %}
                                    {{ item.stars }}<br><br>
                                {% endif %}
                                len:<b style="color:red;">{{ item.len }}min</b> image:<b
                                    style="color:red;">{{ item.image_len }}</b>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_rename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        修改别称(提交空则取消改名)
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="target_name" class="form-control" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="insertExtend('rename', '{{ frame_data.placeholder }}', $('#target_name').val());location.reload();">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
