<html lang="cn"><head>
<meta charset="utf-8">
<meta name="trafficjunky-site-verification" content="445w343y8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %} {% endblock %} -avmoo-spider</title>
<meta name="author" content="AVMOO">
<meta name="keywords" content="">
<meta name="description" content="AVMOO - 你的线上日本成人影片情报站。管理你的影片并分享你的想法。">
<link rel="shortcut Icon" href="{{url_for('static', filename='face.ico')}}">
<link rel="bookmark" href="{{url_for('static', filename='face.ico')}}">
<link rel="dns-prefetch" href="https://jp.netcdn.space">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app.min.css')}}">
<style>
.sub_title{
    border: 1px solid #eea236;
    background-color: #ff0000;
    color: white;
    font-size: 8px;
    padding: 3px;
    border-radius: 6px;
}
</style>
{% block head %} {% endblock %}
</head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top top-bar">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <form class="navbar-form navbar-left fullsearch-form" action="/search" onsubmit="return false">
            <div class="input-group">
              <input name="keyword" type="text" class="form-control" placeholder="演员ID,类型,演员" value="{% block keyword %}{% endblock %}">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">查找或下载</button>
              </span>
            </div>
          </form>
          <ul class="nav navbar-nav">
            <li><a href="/">全部</a></li>
			<li><a href="/search/已发布">已发布</a></li>
			<li><a href="/search/有资源">有资源</a></li>
            <li><a href="/actresses">女优</a></li>
            <li><a href="/genre">类别</a></li>
            <li><a href="/like/movie">收藏影片</a></li>
          </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:;" class="catch_switch">缓存开关</a></li>
            <li><a href="https://tellme.pw/avmoo" target="_blank">avmoo最新地址</a></li>
            <li><a class="glyphicon glyphicon-thumbs-up" href="https://github.com/moozik/avmoo-spider" target="_blank">本程序源码</a></li>
        </ul>
        </div>
      </div>
    </nav>
<div class="row visible-xs-inline footer-bar">
    <div class="col-xs-3 text-center">
        <a id="menu" class="btn btn-default trigger-overlay"><i class="glyphicon glyphicon-align-justify"></i></a>
    </div>
        <div class="col-xs-3 text-center">
            </div>
    <div class="col-xs-3 text-center">
                <a id="prev" class="btn btn-default" href="/page/2"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        <div class="col-xs-3 text-center">
        <a id="back" class="btn btn-default" href="javascript:window.history.back()"><i class="glyphicon glyphicon-share-alt flipx"></i></a>
    </div>
</div>
{% block container %}
{% endblock %}

{% block pagination %}
    {% if page %}
	<div class="text-center hidden-xs mtb-20">
		<ul class="pagination pagination-lg mtb-0">
            {% if page.left>0 %}
            <li>
                <a name="prepage" href="{{pageroot}}/page/{{page.left}}">
                    <span class="glyphicon glyphicon-chevron-left"></span> 上一页</a>
            </li>
            {% endif %}
            {% for item in page.list %}
                {% if page.now == item %}
                    <li class="active">
                        <a name="numbar" href="{{pageroot}}/page/{{item}}">{{item}}</a>
                    </li>
                {% else %}
                    <li>
                        <a name="numbar" href="{{pageroot}}/page/{{item}}">{{item}}</a>
                    </li>
                {% endif %}
            {% endfor %}

             {% if page.right>0 %}
            <li>
                <a name="nextpage" href="{{pageroot}}/page/{{page.right}}">
                    <span class="glyphicon glyphicon-chevron-right"></span> 下一页</a>
            </li>
            {% endif %}
		</ul>
  </div>
  {% endif %}
{% endblock %}

{% block other %}{% endblock %}

<footer class="footer hidden-xs">
	<div class="container-fluid">
	</div>
</footer>

<div class="visible-xs-block footer-bar-placeholder"></div>

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="message_title">
                    删除成功
                </h4>
            </div>
            <!-- <div class="modal-body">
                删除成功
            </div> -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm">
                    确认
                </button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='app.min.js')}}"></script>
<script>
    $('.catch_switch').click(function(){
        $.get('/action/catch/switch',function(data){
            $('#message_title').html(data);
            $('#message').modal('show');
        });
    });
    $('#confirm').click(function(){
        $('#message').modal('hide');
    });
    $('.star-download-btn').click(function () {
        $.get("/action/download/star/" + $(this).data('val'), function (data) {
            $('#message_title').html(data);
            $('#message').modal('show');
        });
    });
</script>
{% block javascript %} {% endblock %}
</body>
</html>