{% extends "main.html" %}
{% block title %}{{data.title}} - {% endblock %}
{% block container %}
<div class="container">
    <h3 id="av_title">{{data.title}}</h3>
    <button class="btn btn-default" onclick="translateTitle('{{data.av_id}}')">翻译</button>
    <a class="btn btn-default" href="{{config['base']['avmoo_site']}}/cn/movie/{{data.linkid}}" target="_blank">源站链接</a>
    <div class="row movie">
        <div class="col-md-9 screencap">
            <a class="bigImage" href="{{config['website']['cdn']}}/digital/video{{data.bigimage}}" title="{{data.title}}">
                <img src="{{config['website']['cdn']}}/digital/video{{data.bigimage}}">
            </a>
        </div>
        <div class="col-md-3 info">
            <p>
                <span class="header">识别码:</span>
                <span style="color:#CC0000;">{{data.av_id}}</span>
            </p>
            {% if data.release_date %}
                <p>
                    <span class="header" title="release date">发行时间:</span> {{data.release_date}}
                </p>
            {% endif %}
            {% if data.len %}
                <p>
                    <span class="header" title="movie length">长度:</span> {{data.len}}分钟
                </p>
            {% endif %}
            {% if data.director_url %}
                <p>
                    <span class="header" title="director">导演:</span>
                    <a href="/director/{{data.director_url}}">{{data.director}}</a>
                </p>
            {% endif %}
            {% if data.studio_url %}
                <p class="header" title="studio">制作商: </p>
                <p>
                    <a href="/studio/{{data.studio_url}}">{{data.studio}}</a>
                </p>
            {% endif %}
            {% if data.label_url %}
                <p class="header" title="label">发行商: </p>
                <p>
                    <a href="/label/{{data.label_url}}">{{data.label}}</a>
                </p>
            {% endif %}
            {% if data.series_url %}
                <p class="header" title="series">系列:</p>
                <p>
                    <a href="/series/{{data.series_url}}">{{data.series}}</a>
                </p>
            {% endif %}
            {% if data.genre_list %}
            <p class="header" title="genre">类别:</p>
            <p>
                 {% for item in data.genre_list %}
                    <span class="genre">
                        <a href="/genre/{{item}}">{{item}}</a>
                    </span>
                 {% endfor %}
            </p>
            {% endif %}
            <p class="header" title="action">操作:</p>
            <p>
                <button class="btn btn-default" type="submit" onclick="insertMovieExtend('like', 'av_id', '{{data.av_id}}')" title="add Favorites">收藏</button>
                <button class="btn btn-default" type="submit" onclick="crawlAccurate('movie', '{{data.linkid}}');setTimeout(function(){location.reload()}, 5000);" title="crawl again">重新抓取</button>
            </p>
        </div>
    </div>

    <h4 title="search tools">搜索资源</h4>
    <div>
        <a class="btn btn-default" href="https://btsow.rest/search/{{data.av_id}}" target="_blank">BTSO</a>
        <a class="btn btn-default" href="http://www.haociso.top/s/{{data.av_id}}" target="_blank">haociso</a>
    </div>

    <h4 title="resource">影片资源</h4>
    <div>
        <input id="movie_resource" type="text" class="form-control" style="max-width: 400px;" placeholder="磁力链接 | 本地路径 | 在线地址" title="magnet | local movie path | url"/>
        <button class="btn btn-default insert-movie-local" type="submit" onclick="insertMovieExtend('movie_res', '{{data.av_id}}', document.querySelector('#movie_resource').value)" title="save extend data">保存</button>
        <ul>
        {% for movie_resource in data.movie_resource_list %}
            <li>
                <a href="{{movie_resource}}" target="_blank">{{movie_resource}}</a>
                <button class="btn btn-default" onclick="deleteMovieExtend('movie_res','{{data.av_id}}', this.getAttribute('data-val'));location.reload();" data-val="{{movie_resource}}" type="submit" title="del">删除记录</button>
                <button class="btn btn-default" onclick="explorerLocal(this.getAttribute('data-val'))" data-val="{{movie_resource}}" type="submit" title="explorer local">本地打开</button>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if data.stars %}
    <h4 title="actresses">演员</h4>
    <div id="avatar-waterfall">
        {% for item in data.stars_data %}
        <a class="avatar-box" href="/stars/{{item.linkid}}">
            <div class="photo-frame">
                {% if item.headimg %}
                <img src="{{config['website']['cdn']}}/{{item.headimg}}" title="">
                {% else %}
                <img src="{{config['website']['cdn']}}/mono/actjpgs/nowprinting.gif" title="">
                {% endif %}
            </div>
            <span>{{item.name}}</span>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    
    
    {% if data.stars_map %}
    <h4 title="not yet fetch actresses">其他演员</h4>
    <p class="info">
    {% for item in data.stars_map %}
        <span class="genre">
            <a href="/stars/{{item.linkid}}">{{item.name}}</a>
        </span>
    {% endfor %}
    </p>
    {% endif %}


    <div class="clearfix"></div>
    {% if data.imglist %}
    <h4>样品图像</h4>
    <div id="sample-waterfall">
         {% for item in data.imglist %}
            <a class="sample-box" href="{{item.big}}" title="{{data.title}}">
                <div class="photo-frame">
                    <img src="{{item.small}}">
                </div>
            </a>
         {% endfor %}
    </div>
    {% endif %}
    <div class="clearfix"></div>

</div>
{% endblock %}

{% block pagination %}
{% endblock %}

{% block javascript %}
<script>
    function translateTitle(avid){
        $.get("/action/translate",{
            "words": document.querySelector("#av_title").innerText
        } ,function(data){
            document.querySelector("#av_title").innerText = avid + ' ' + data;
        });
    }
</script>
{% endblock %}