{% extends "main.html" %}
{% block title %}{{data.title}} - {% endblock %}
{% block container %}
<div class="container">
    <h3 id="av_title">{{data.title}}</h3>
    <button class="btn btn-default" onclick="translateTitle('{{data.av_id}}')">翻译</button>
    <a class="btn btn-default" href="{{avmoo_url}}/cn/movie/{{data.linkid}}" target="_blank">源站链接</a>
    <div class="row movie">
        <div class="col-md-9 screencap">
            <a class="bigImage" href="{{cdn}}/digital/video{{data.bigimage}}" title="{{data.title}}">
                <img src="{{cdn}}/digital/video{{data.bigimage}}">
            </a>
        </div>
        <div class="col-md-3 info">
            <p>
                <span class="header">识别码:</span>
                <span style="color:#CC0000;">{{data.av_id}}</span>
                <button class="btn btn-default" type="submit" onclick="insertMovieExtend('like', 'av_id', '{{data.av_id}}')">收藏</button>
            </p>
            {% if data.release_date %}
                <p>
                    <span class="header">发行时间:</span> {{data.release_date}}
                </p>
            {% endif %}
            {% if data.len %}
                <p>
                    <span class="header">长度:</span> {{data.len}}分钟
                </p>
            {% endif %}
            {% if data.director_url %}
                <p>
                    <span class="header">导演:</span>
                    <a data-type="director_url" data-val="{{data.director_url}}" href="/director/{{data.director_url}}">{{data.director}}</a>
                </p>
            {% endif %}
            {% if data.studio_url %}
                <p class="header">制作商: </p>
                <p>
                    <a data-type="studio_url" data-val="{{data.studio_url}}" href="/studio/{{data.studio_url}}">{{data.studio}}</a>
                </p>
            {% endif %}
            {% if data.label_url %}
                <p class="header">发行商: </p>
                <p>
                    <a data-type="label_url" data-val="{{data.label_url}}" href="/label/{{data.label_url}}">{{data.label}}</a>
                </p>
            {% endif %}
            {% if data.series_url %}
                <p class="header">系列:</p>
                <p>
                    <a data-type="series_url" data-val="{{data.series_url}}" href="/series/{{data.series_url}}">{{data.series}}</a>
                </p>
            {% endif %}
            {% if data.genre_list %}
            <p class="header">类别:</p>
            <p>
                 {% for item in data.genre_list %}
                    <span class="genre">
                        <a href="/genre/{{item}}">{{item}}</a>
                    </span>
                 {% endfor %}
            </p>
            {% endif %}
        </div>
    </div>

    <style>
        .solink {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 17px;
    display: block;
    background: #60727d;
    color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    bottom: 106px;
    float: left;
        }
    </style>
    <h4>搜索资源</h4>
    <div class="row">
        <a class="solink" href="https://btsow.rest/search/{{data.av_id}}" target="_blank">BTSO</a>
        <a class="solink" href="http://www.haociso.top/s/{{data.av_id}}" target="_blank">haociso</a>
    </div>

    <h4>影片资源</h4>
    <div class="row">
        <input id="movie_resource" type="text" class="form-control" style="max-width: 400px;" placeholder="磁力链接 | 本地路径 | 在线地址" />
        <button class="btn btn-default insert-movie-local" type="submit" onclick="insertMovieExtend('movie_res', '{{data.av_id}}', document.querySelector('#movie_resource').value)">保存</button>
        <ul>
        {% for movie_resource in data.movie_resource_list %}
            <li><a href="{{movie_resource}}" target="_blank">{{movie_resource}}</a> <button class="btn btn-default delete-movie-local" data-val="{{movie_resource}}" type="submit">删除记录</button> <button class="btn btn-default explorer-local" data-val="{{movie_resource}}" type="submit">本地打开</button></li>
        {% endfor %}
        </ul>
    </div>

    {% if data.stars %}
    <h4>演员</h4>
    <h5>{{data.stars}}</h5>
    <div id="avatar-waterfall">
        {% for item in data.stars_data %}
        <a data-type="stars_url" data-val="{{item.linkid}}" class="avatar-box" href="/stars/{{item.linkid}}">
            <div class="photo-frame">
                {% if item.headimg %}
                <img src="{{cdn}}/{{item.headimg}}" title="">
                {% else %}
                <img src="{{cdn}}/mono/actjpgs/nowprinting.gif" title="">
                {% endif %}
            </div>
            <span>{{item.name}}</span>
        </a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="clearfix"></div>
    {% if data.imglist %}
    <h4>样品图像</h4>
    <div id="sample-waterfall">
         {% for item in data.imglist %}
            <a class="sample-box" href="{{item.big}}" title="{{data.title}}">
                <div class="photo-frame">
                    <img src="{{item.small}}">
                </div>
            </a>
         {% endfor %}
    </div>
    {% endif %}
    <div class="clearfix"></div>

</div>
{% endblock %}

{% block pagination %}
{% endblock %}

{% block javascript %}
<script>
    // $('.like').each(function () {
    //     $(this).after('<span title="收藏" class="glyphicon glyphicon-star-empty stars-btn" style="padding: 2px;color: #FFC107;"></span>');
    // });
    // $('.stars-btn').click(function(){
    //     var data_type = $($(this)[0].previousElementSibling).data('type');
    //     var data_val = $($(this)[0].previousElementSibling).data('val');
    //     $.get("/action/extend/insert/like/" + data_type + '/'+ data_val,function(data){
    //         $('#message_title').html(data);
    //         $('#message').modal('show');
    //     });
    // });
    $('.delete-movie-local').click(function(){
        $.get("/action/extend/delete/movie_res/{{data.av_id}}/" + encodeURIComponent($(this).data('val')),function(data){
            location.reload();
        });
    });
    function translateTitle(avid){
        $.get("/action/translate/" + encodeURIComponent(document.querySelector("#av_title").innerText),function(data){
            document.querySelector("#av_title").innerText = avid + ' ' + data;
        });
    }
</script>
{% endblock %}