{% extends "main.html" %}

{% block container %}
<style>
    .avatar-box{
        height:290px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div id="waterfall">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <form class="" style="width:500px;" action="/action/crawl" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="url_text" placeholder="完整链接或搜索词,如果带页码会从指定页码开始,例:
SSIS-344
单体作品
波多野結衣
https://avmoo.sbs/cn/search/ABP/page/25
https://avmoo.sbs/cn/popular
https://avmoo.sbs/cn/movie/9fed39545dc47840
https://avmoo.sbs/cn/star/26532bc87b4ce1d1/page/2
https://avmoo.sbs/cn/genre/dd21aefe7ae3228c
https://avmoo.sbs/cn/studio/ce25ddc3a9caca20
https://avmoo.sbs/cn/label/8eab1a64464779ff
https://avmoo.sbs/cn/director/63a8f4da6e22cc09" style="width: 600px;height: 300px;" title="url text"></textarea>
                </div>
                <div class="form-group">
                    <label title="crawl page num limit">最大抓取页数(源站限制最多100)</label>
                    <input type="text" class="form-control" name="page_limit" value="100"/>
                </div>
                <div class="form-group">
                    <label>是否跳过已存在影片</label>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="skip_exist" value="True" checked /> True
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="skip_exist" value="False" /> False
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" title="crawl by whole link">添加任务</button>
            </form>
        </div>
        <div class="col-md-5">
            <h4 title="working list">运行中任务<button class="btn btn-default btn-sm" type="submit" onclick="crawl_control('exit')" title="exit crawl">结束当前任务</button></h4>
            <div>
                <ul id="running_work">
                </ul>
            </div>
            <h4 title="work list">等待中任务<button class="btn btn-default btn-sm" type="submit" onclick="crawl_control('clean')" title="clean">清空</button></h4>
            <div>
                <ul id="wait_work">
                </ul>
            </div>
            <h4 title="worked list">已完成任务</h4>
            <div>
                <ul id="done_work">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
function crawl_control(action){
    $.get("/action/crawl/control/" + action,function(data){
        showMessage(data,"");
    });
}
function frash_last_insert_list(){
    $.getJSON("/action/last/insert", function(data){

        $("#waterfall").html("");
        //最新获取的影片
        data["last_insert_list"].forEach(item => {
            $("#waterfall").append(
                '<div class="item" style="position: relative;">'+
                    '<a class="movie-box" href="/movie/' + item.linkid + '" target="_blank">'+
                        '<div class="photo-frame">'+
                            '<img src="{{config["website"]["cdn"]}}' + '/digital/video' + item.bigimage.replace("pl.", "ps.") + '">'+
                        '</div>'+
                        '<div class="photo-info">'+
                            '<span>' + item.title +
                                '<br>'+
                                '<date>' + item.av_id + '</date> /'+
                                '<date>' + item.release_date + '</date>'+
                            '</span>'+
                        '</div>'+
                        '<div class="movie-desc">'+
                            item.genre + '<br><br>'+
                            item.stars + '<br><br>'+
                            'len:<b style="color:red;">'+item.len+'min</b> image:<b style="color:red;">'+item.image_len+'</b>'+
						'</div>'+
                    '</a>'+
                '</div>'
            );
        });
        //正在运行的任务
        $("#running_work").html("");
        if (data["running_work"]){
            let item = data["running_work"];
            $("#running_work").html(
                    '<li>' +
                        '<a href="'+item.url+'" target="_blank">'+item.url+'</a>'+ (item.page_limit > 0? ' page_limit:'+item.page_limit:'') +
                    '</li>');
        }
        //等待运行的任务
        $("#wait_work").html("");
        data["wait_work"].forEach(item => {
            $("#wait_work").append(
                '<li>' +
                    '<a href="'+item.url+'" target="_blank">'+item.url+'</a>'+ (item.page_limit > 0? ' page_limit:'+item.page_limit:'') +
                '</li>'
            );
        });
        //执行完毕的任务
        //等待运行的任务
        $("#done_work").html("");
        data["done_work"].forEach(item => {
            $("#done_work").append(
                '<li>' +
                    '<a href="'+item.url+'" target="_blank">'+item.url+'</a>'+ (item.page_limit > 0? ' page_limit:'+item.page_limit:'') +
                '</li>'
            );
        });
    });
}
frash_last_insert_list()
setInterval(frash_last_insert_list, {{config['website']['spider_page_interval_timeout']}});
</script>
{% endblock %}