{% extends "main.html" %}

{% block title %} 爬虫 {% endblock %}
{% block container %}
<style>
    .avatar-box{
        height:290px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul>
                <!-- <li>https://avmoo.sbs/cn</li> -->
                <!-- <li>https://avmoo.sbs/cn/released</li>
                <li>https://avmoo.sbs/cn/popular</li> -->
                <li><b>https://avmoo.sbs/cn/movie/9fed39545dc47840</b></li>
                <li><b>https://avmoo.sbs/cn/star/26532bc87b4ce1d1</b></li>
                <li><b>https://avmoo.sbs/cn/genre/dd21aefe7ae3228c</b></li>
                <li><b>https://avmoo.sbs/cn/studio/ce25ddc3a9caca20</b></li>
                <li><b>https://avmoo.sbs/cn/label/8eab1a64464779ff</b></li>
                <li><b>https://avmoo.sbs/cn/director/63a8f4da6e22cc09</b></li>
                <li><b>https://avmoo.sbs/cn/search/ABP</b></li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="input-group" style="margin-top:20px;">
                <textarea class="form-control" id="input_text" placeholder="完整链接,例:https://avmoo.sbs/en/movie/64588e4956778441" style="width: 500px;height: 200px;" title="link text"></textarea>
                <button class="btn btn-default" onclick='crawlLink(document.querySelector("#input_text").value)' title="crawl by whole link">下载指定链接</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}