{% extends "main.html" %}

{% block title %} 我喜欢的{{type_nick}} - {% endblock %}
{% block keyword %}{% endblock %}
{% block container %}
<div class="container-fluid">
    <div class="row">
        <div id="avatar-waterfall" style="margin: 70px 70px;">
        {% for item in data %}
            <a class="avatar-box" href="/stars/{{item.0}}">
                <div class="photo-frame">
                    {% if item.2 %}
                        <img src="{{cdn}}/{{item.2}}" title="">
                    {% else %}
                        <img src="{{cdn}}/mono/actjpgs/nowprinting.gif" title="">
                    {% endif %}
                    </div>
                <span>{{item.1}}</span>
            </a>
        {% endfor %}
        </div>
	</div>
</div>
{% endblock %}

{% block pagination %}
{% endblock %}